<div class="heading-bar">
    <h1>Hi, {{ email }}!</h1>
</div>
<section class="job-list">
{{#each jobs}}
    <a href="/jobs/{{this._id}}">
        <div class="job-box">
            <h2>{{ this.company }}</h2>
            <div class="job-details">
                <h3>{{ this.title }}</h3>
                <div>{{ this.description }}</div>
            </div>
        </div>
    </a>
{{/each}}
</section>