<section class="job__show">
    <div class="job__show__titlelabel heading">Title</div>
    <div class="job__show__title">{{job.title}}</div>

    <div class="job__show__companylabel heading">Company</div>
    <div class="job__show__company">{{job.company}}</div>

    <div class="job__show__descriptionlabel heading">Description</div>
    <div class="job__show__description">{{job.description}} </div>  
    
    <div class="job__show__statuslabel heading">Application Status</div>
    <div class="job__show__status">{{job.status}} </div>  

    <div class="job__show__outcomelabel heading">Outcome</div>
    <div class="job__show__outcome">{{job.outcome}} </div>  

    <div class="question_heading heading">
        Interview Questions
    </div>
    {{#each job.questions}}
        <div class="heading">{{this.questionAsked}}</div>
        <div>{{this.myAnswer}}</div>
    {{/each}}
</section>

<form method="post" action="/jobs/{{job._id}}/question">
    <div>
        <input type="text" name="questionAsked"></input>
    </div>
    <div>
        <textarea name="myAnswer"></textarea>
    </div>
    <input type="submit" value="create comment" />
</form>

<a href="/jobs/{{job._id}}?_method=DELETE">Delete Job</a>
<a href="/jobs/{{job._id}}/edit">Edit Job</a>
